.about-header{
    font-family: "Montserrat", serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(220, 220, 74);
    text-align: center;
    margin-top: 60px;
}
.about-description{
    color: azure;
    text-align: center;
    margin: auto;
    font-family: "DM Sans", serif;
    font-weight: 200;
    font-size: 1.5rem;
    width: 950px;
}

.icons-container{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
}

@media(width <= 1030px){
    .about-header{
        font-size: 2rem;
    }
    .about-description{
        max-width: fit-content;
        padding: 20px;
        font-size: 1.4rem;
    }

    .icons-container{
        display: block;
    }
}