.extra-card{
    background-color: hsl(148, 94%, 12%);
    border-radius: 25px;
    width: 60%;
    color: azure;
    text-align: center;
    font-family: "DM Sans", serif;
}
.card-icon{
    font-size: 6em;
    color: rgb(220, 220, 74);
}
.extra-info{
    padding: 15px; 
}

.extra-header{
    margin: 20px auto 15px auto;
    font-size: 2em;
    max-width: 60%;
}

.extra-desc{
    margin: auto auto 15px;
    font-weight: 200;
    font-size: 1.35em;
    width: 400px;
    height: 100px;
}

@media(width <= 1200px){
    .extra-card{
        margin: auto auto 40px;
    }
}