.section-header{
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    color: azure;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 90px;
}

.cards-container{
    width: fit-content;
    margin: auto;
}

.software-card{
    background-color: hsl(148, 94%, 12%);
    border-radius: 25px;
    width: fit-content;
    margin-top: 40px;
    margin-bottom: 90px;
    height: 229px;
    color: azure;
    text-align: center;
    font-family: "DM Sans", serif;
}


.web-card{
    animation: slide-web-card;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.app-card{
    margin-left: auto;
    animation: slide-app-card;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.website-pic{
    height: 230px;
    margin-left: -40px;
}

.app-pic{
    height: 300px;
    margin: -35px -10px 0 20px;
}

.extra-cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 70px;
}

@keyframes slide-web-card{
    0%{
        margin-left: -100vw;
    }
    100%{
        margin-left: -15vw;
    }
}
@keyframes slide-app-card{
    0%{
        margin-right: -100vw;
    }
    100%{
        margin-right: -15vw;
    }
    
}

@media(width <= 1200px){
    .software-card{
        height: 40vh;
        margin: 150px auto 20px;
        animation: none;
        height: fit-content;
        padding-bottom: 2em;
        width: 90%;
    }
    .app-card{
        display: flex;
        flex-direction: column;
    }
    .website-pic, .app-pic{
        margin: auto;
        margin-top: -120px;
    }
    .website-pic{
        height: 200px;
    }
    .app-pic{
        order: -1;
        margin-bottom: 0;
    }

    .extra-cards{
        display: block;
        
    }
}

@media(width <= 590px){
    .section-header{
        font-size: 1rem;
        width: 60%;
        margin: 60px auto;
    }
    .website-pic{
        height: 120px;
    }
    .app-pic{
        height: 180px;
    }
}