.consult-message{
    font-family: "Montserrat", serif;
    font-size: 2em;
    text-transform: uppercase;
    color: azure;
    text-align: center;
    width: 80%;
    margin: 100px auto 50px auto;
}