.consult-form{
    margin: auto;
    height: fit-content;
    width: fit-content;
}

.labels-container{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.form-label{
    display: block;
    font-size: 2em;
    font-weight: 600;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    color: azure;
    font-size: 1.5em;
}
input::placeholder, textarea::placeholder{
    font-size: 1em;
    color: rgba(255, 255, 255, 0.348);
}
.form-input{
    border: none;
    background-color: #549657bb;
    border-radius: 10px;
    color: azure;
    font-family: "DM Sans", serif;
    font-weight: 300;
    font-size: 1.5em;
    padding: 10px;
}
.choose-option{
    display: none;
}
.normal-input{
    height: 50px;
    width: 300px;
}
.text-area{
    height: 100px;
    width: 100%;
}

.submit-cont{
    margin: 30px auto;
    width: fit-content;
}
.submit-form{
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-size: 2em;
    border: none;
    border-radius: 10px;
    background-color: #4d1baa;
    color: azure;
    padding: 12px;
}