.expand-background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    animation: blur;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    overflow-y: auto;
}

.expand-content{
    justify-content: center;
    background-color: hsl(261, 73%, 39%);
    border-radius: 15px;
    width: 70%;
    margin: auto;
    animation: expand-appear;
    animation-duration: 1s;
    
}


.close{
    background: none;
    border: none;
    padding: 10px;
    font-size: 4em;
    font-weight: 200;
    color: azure;
}

.expand-details{
    text-align: center;
}
.expand-icon{
    display: block;
    font-size: 7em;
    color: rgb(220, 220, 74);
}
.expand-name{
    font-family: "Montserrat", serif;
    font-size: 3em;
    font-weight: 500;
    color: azure;
    text-align: center;
}
.expand-description{
    font-family: "DM Sans", serif;
    color: azure;
    font-size: 2em;
    font-weight: 200;
    width: 60%;
    margin: 20px auto 80px;
}

@keyframes blur{
    0%{
    }
    100%{
        backdrop-filter: blur(10px);
    }
}
@keyframes expand-appear{
    0%{
        scale:-0;
    }
    100%{
        scale:1;
    }
}


@media(width <= 1000px){
    .expand-content{
        width: 90%;
    }

    .expand-description{
        width: 70%;
    }
}