.header{
    text-align: center;
}

.titles-cont{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

.main-title{
    display: inline;
    font-family: "DM Sans", serif;
    font-size: 6em;
    font-weight: 200;
    text-decoration: none;
    color: azure;
    margin: 0 100px 0 100px;
}
.title{
    font-family: "Ballet", serif;
    font-weight: 100;
    font-size: 9em;
    color: rgb(220, 220, 74);
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle{
    font-family: "EB Garamond", serif;
    font-size: 1.2em;
    font-weight: 400;
    color: azure;
    margin-top: -100px;
    margin-left: 400px;
    text-transform: uppercase;
}

.page-link{
    font-family: "DM Sans", serif;
    font-weight: 200;
    font-size: 1.8em;
    text-decoration: none;
    color: azure;
    vertical-align: 30px;
}

.side-page-link{
    font-family: "DM Sans", serif;
    font-weight: 200;
    font-size: 1.8em;
    text-decoration: none;
    color: azure;
}