.header{
    text-align: center;
    animation: fade-in-title;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.titles-cont{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

.main-title{
    display: inline;
    font-family: "DM Sans", serif;
    font-size: 6em;
    font-weight: 200;
    text-decoration: none;
    color: azure;
    margin: 0 100px 0 100px;
}

.title{
    font-family: "Ballet", serif;
    font-weight: 100;
    font-size: 9em;
    color: rgb(220, 220, 74);
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.subtitle{
    font-family: "EB Garamond", serif;
    font-size: 1.2em;
    font-weight: 400;
    color: azure;
    margin-top: -100px;
    margin-left: 400px;
    text-transform: uppercase;
}

.page-link{
    font-family: "DM Sans", serif;
    font-weight: 200;
    font-size: 1.8em;
    text-decoration: none;
    color: azure;
    vertical-align: 30px;
}

.side-page-link{
    font-family: "DM Sans", serif;
    font-weight: 200;
    font-size: 1.8em;
    text-decoration: none;
    color: azure;
}

.menu{
    display: none;
    font-size: 4rem;
    color: rgb(220, 220, 74);
    background: none;
    border: none;
    margin: 20px 20px 0 auto;
    cursor: pointer;
}

.sidebar{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    animation: sidebar-blur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.close-menu{
    background: none;
    color: azure;
    border: none;
    font-size: 3rem;
    font-weight: 200;
    padding: 10px;
}
.sidebar-links{
    margin-top: 50%;
}
.sidebar-link{
    display: block;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    color: azure;
    font-family: "DM Sans", serif;
    font-weight: 200;
    margin-bottom: 20px;
}

@keyframes fade-in-title{
    0%{
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes sidebar-blur{
    0%{
    }
    100%{
        backdrop-filter: blur(30px);
    }
}

@media(width <= 1200px){
    .page-link, .side-page-link{
        display: none;
    }
    .menu{
        display: block;
        
    }
    .titles-cont{
        margin: 0;
    }
    .main-title{
        margin: auto;
    }
    .title{
        margin: auto;
    }

}

@media(width <= 750px) {
    .title{
        margin: 0;
    }
   .subtitle{
        font-size: .85rem;
        margin-top: -100px;
        margin-left: 260px;
   }
}

@media(width <= 590px){
    .main-title{
        font-size: 4rem;
    }
    .title{
        font-size: 6.75rem;
    }
    .subtitle{
        margin-top: -75px;
        margin-left: 200px;
        font-size: .67rem;
    }
}

@media(width <= 400px){
    .title{
        font-size: 6.4rem;
        margin-left: 12px;
    }
}
