.expandable-icon{
    text-align: end;
}
.expand{
    background: none;
    border: none;
    color: azure;
    font-weight: 200;
    font-size: 2.5em;
    margin: 0 -20px;
    cursor: pointer;
}

.icon-container{
    text-align: center;
    margin-top: -20px;
}

.icon{
    font-size: 4em;
    color: rgb(220, 220, 74);
    background-color: #4d1baa;
    border-radius: 50%;
    padding: 12px;
    font-weight: 300;
}

.icon-name{
    width: 100px;
    font-family: "Montserrat", serif;
    font-weight: 200;
    color: azure;
    text-align: center;
}

.shrink{
    animation: shrink-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes shrink-animation{
    0%{

    }
    100%{
        scale: -0;
    }
}