*,
* ::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

html{
  overflow: hidden;
  height: 100%;
}

body{
  background-image: radial-gradient(#057c1c,#0c4f44 60%);
  background-repeat: no-repeat;
  height: 100%;
  overflow: auto;
  overscroll-behavior: none;
}